:root {
  --vt-c-white: rgba(255, 255, 255, 1);
  --vt-c-white-mute: rgba(242, 242, 242, 1);
  --vt-c-white-background: rgba(255, 250, 250, 1);
  --vt-c-white-background-confirm: rgba(255, 250, 250, 0.2);

  --vt-c-grey-main-font: rgba(71, 74, 81, 1);
  --vt-c-grey-font: rgba(130, 134, 140, 1);
  --vt-c-grey-silver: rgba(192, 192, 192, 1);

  --vt-c-outline: rgba(255, 204, 0, 1);
  --vt-c-active-btn: rgba(95, 158, 160, 1);
  --vt-c-alert: rgba(205, 92, 92, 0.6);
}

* {
  box-sizing: border-box;
}
body {
  min-width: 768px;
  min-height: 100vh;
  color: var(--vt-c-grey-main-font);
  background-color: var(--vt-c-white-background);
  transition: color 0.5s, background-color 0.5s;
  font-family: Montserrat, Arial, Helvetica, Verdana, sans-serif;
  font-size: 0.8rem;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

svg {
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  border: none;
  background-color: inherit;
  opacity: 0.7;
}

svg:hover path {
  fill: var(--vt-c-active-btn);
}

svg:active path {
  opacity: 0.7;
}

.container-button {
  display: flex;
  justify-content: end;
  border: none;
  padding: 0;
}

.button-icon {
  width: 25px;
  height: 25px;
  border: none;
  outline-color: var(--vt-c-outline);
  background: inherit;
  padding: 0;
}

.button {
  display: flex;
  justify-content: center;
  width: 90px;
  height: auto;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--vt-c-white);
  text-transform: uppercase;
  background-color: var(--vt-c-active-btn);
  outline-color: var(--vt-c-outline);
  border: none;
  border-radius: 10px;
  opacity: 0.6;
  padding: 10px 7px;
  margin-right: 15px;
}

.button:hover {
  opacity: 0.9;
  transition: opacity 0.5s;
}

.button:active {
  opacity: 0.5;
  transition: opacity 0.5s;
}

input,
select {
  font-style: italic;
  background-color: var(--vt-c-white-background);
  border: none;
  box-shadow: 1px 1px 0 0 var(--vt-c-grey-silver);
  border-radius: 8px;
  outline-color: var(--vt-c-outline);
  color: var(--vt-c-grey-main-font);
  appearance: none;
  padding: 5px 20px;
  margin-left: 10px;
}

input:disabled,
select:disabled {
  font-style: normal;
}

label {
  display: grid;
  align-content: center;
  font-size: 0.9rem;
}

.hint {
  position: relative;
}

.hint:hover::after {
  position: absolute;
  right: -35px;
  top: -30px;

  content: attr(data-name);
  font-size: 0.7rem;
  color: var(--vt-c-grey-silver);

  width: 80px;
  height: auto;
  padding: 5px;
}
