:root {
    --vt-c-white: rgba(255, 255, 255, 1);
    --vt-c-white-mute: rgba(242, 242, 242, 1);
    --vt-c-white-mute-archive: rgba(267, 247, 247, 1);
    --vt-c-white-background-confirm: rgba(255, 250, 250, 0.4);

    --vt-c-black-basic-font: rgba(0, 0, 0, 1);
    --vt-c-grey-main-font: rgba(71, 74, 81, 1);
    --vt-c-grey-font: rgba(130, 134, 140, 1);
    --vt-c-grey-silver: rgba(192, 192, 192, 1);

    --vt-c-active-2: rgba(95, 158, 160, 0.2);
    --vt-c-active-4: rgba(95, 158, 160, 0.4);
    --vt-c-active-6: rgba(95, 158, 160, 0.6);
    --vt-c-active-9: rgba(95, 158, 160, 0.9);
    --vt-c-active-10: rgba(95, 158, 160, 1);

    --vt-c-outline-2: rgba(255, 204, 0, 0.2);
    --vt-c-outline-10: rgba(255, 204, 0, 1);

    --vt-c-alert-2: rgba(205, 92, 92, 0.2);
    --vt-c-alert-7: rgba(205, 92, 92, 0.7);
}

body {
    min-height: 100vh;
    max-width: 1024px;
    color: var(--vt-c-black-basic-font);
    transition: color 0.5s, background-color 0.5s;
    font-family: Montserrat, Arial, Helvetica, Verdana, sans-serif;
    font-size: 0.86rem;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    scrollbar-color: var(--vt-c-active-6) var(--vt-c-white-mute); /*doesn't work for Firefox */
    margin: 0 auto;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--vt-c-white-mute);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--vt-c-active-6);
    border-radius: 8px;
}

.link {
    text-decoration: none;
}

/*hover icon resizing in button */
.icon:hover path {
    transform: scale(1.04);
}

/*active icon resizing in button */
.icon:active path {
    transform: scale(1);
}

select,
input {
    font-family: inherit;
    font-style: italic;
    background: var(--vt-c-white);
    border: none;
    box-shadow: 2px 2px 0 0 var(--vt-c-active-2);
    border-radius: 9px;
    outline-color: var(--vt-c-outline-10);
    font-size: inherit;
    color: inherit;
    padding: 12px 15px;
}

select {
    appearance: none;
}

::placeholder {
    color: inherit;
}

:-moz-placeholder,
::-moz-placeholder {
    opacity: 1;
}

input:disabled,
select:disabled {
    font-style: normal;
    background: none;
    box-shadow: 3px 3px 2px 1px var(--vt-c-active-2);
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: none;
    padding: 0;
    margin: 0;
}

.tooltip {
    position: relative;
    display: flex;
    outline-color: var(--vt-c-outline-10);
}

.tooltip:hover::after {
    position: absolute;
    bottom: -25px;
    content: attr(data-name);
    background: var(--vt-c-active-2);
    border-radius: 6px;

    /* tooltip in Firefox && Safari*/
    color: var(--vt-c-black-basic-font);

    font-size: 0.7rem;
    text-transform: lowercase;
    opacity: 0.5;
    padding: 0 5px;
}

/*class "status " for the field  "hide" in employee (employeeData.json)*/
.status {
    opacity: 0.4;
    border: none;
    box-shadow: none;
}

.hidden {
    visibility: hidden;
}